* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*  * {
    margin: 0;
    padding: 0;
    align-items: center;
    
    
   
  }*/
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #87b87d;
    height: 8vh;
  }
  
 
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #87b87d;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  h1 {
    text-align: center;
    margin: 1em 0;
    font-family: sans-serif;
  }
  
  .container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    
    
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }
   /*INICIO DO FOOTER*/
   /* FOOTER */
footer {
  background-color:  #87b87d;
  color: #fff;
  padding: 35px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .col {
    width: calc(50% - 15px);
    margin-bottom: 0;
  }
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 15px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: #fff;
  color: #333;
}

  
  
  p{
    text-align: center;
    align-items: center;
  }
  .texto{
    width: 70vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    text-align: justify;
   
  }